In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
engine = create_engine("postgresql://root:password@localhost:5432/pipeline_db")
query = "SELECT * FROM processed_data"

df = pd.read_sql(query, engine)

In [6]:
df

Empty DataFrame
Columns: [ticket_id, type, organization, comment, photo, photo_after, address, subdistrict, district, province, timestamp, state, star, count_reopen, last_activity, longitude, latitude]
Index: []

In [ ]:
df.to_csv("processed_data.csv", index=False)